body {
  font-family: Arial, sans-serif;
  color: #000000;
  font-weight: bold;
  background-color: #f6f6fa;
  margin: 0;
  padding: 0;
  background-image: url('icone/ChatGPT Image 17 de mai. de 2025, 12_20_16.png');
  background-size: cover;
  background-position: center center; /* centraliza horizontal e vertical */
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* garante altura mínima da tela */
}

.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #000000;
  margin-bottom: 1.5rem;
}

input,
button {
  padding: 5px;
  margin: 5px 0;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

button {
  background-color: #090160;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #4144fd;
}

ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

li {
  background-color: #ffffff7a;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.done {
  background-color: #c8e6c9;
  text-decoration: line-through;
  color: #555;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form button {
  padding: 12px;
  font-size: 1rem;
}

.entrega {
  background: rgba(17, 2, 173, 0.354);
  padding: 10px;
  margin-bottom: 10px;
  border-left: 5px solid #2195f3;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.entrega {
  text-align: center;
  width: 100%;
  max-width: 400px; /* ajuste conforme desejar */
}
.entrega button {
  align-self: flex-end;
}

@media (min-width: 600px) {
  form {
   
    align-items: center;
  }

  form input {
    flex: 1;
    min-width: 150px;
  }

  .entrega {
    display: flex;
    jflex-direction:row;
    align-items: center;
  }

  .entrega button {
    align-self: auto;
  }
}

#entregas {
  display: flex;
  flex-direction: column;
  align-items: center;
}